* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 48px;
  position: relative;
  max-width: 1440px;
  min-height: 344px;
  background: #f5f1ec;

  /*test*/
  border: 1px solid black;
}

section .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 96px;
  max-width: 1312px;
  width: 100%;
  min-height: 216px;

  /*test*/
  border: 1px solid black;
}

section .container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 256px;
  min-height: 180px;
}

section .container .item .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

section .container .item .image .image-place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

section .container .item:nth-child(2) .image .image-place {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 36px;
  height: 36px;
}

section .container .item .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 256px;
  min-height: 122px;
}

section .container .item .text-container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

section .container .item .text-container p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
